body, html {
	background: #141414;
	color: #e5e5e5;
}

.centered-text {
	text-align:center
}
.article {
	background: #F5F5F6;
	padding: 10px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(137, 137, 138, 0.87);
	-moz-box-shadow: 0px 0px 10px 0px rgba(137, 137, 138, 0.87);;
	box-shadow: 0px 0px 10px 0px rgba(137, 137, 138, 0.87);;
}
#search-results {
	opacity: 0;
}
.article:hover {
	background: rgba(245, 245, 246, 0.89);
	-webkit-box-shadow: 0px 0px 25px 0px rgba(192, 192, 193, 0.87);
	-moz-box-shadow: 0px 0px 25px 0px rgba(192, 192, 193, 0.87);
	box-shadow: 0px 0px 25px 0px rgba(192, 192, 193, 0.87);
}
.article > h3 > a {
	color: #545762;
}
.article > h3 > a:hover {
	color: #545762;
}
.article > p {
	color: #545762;
}
